### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
filepath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(filepath)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data["SN"].unique())
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Number of Unique Items
unique_items = len(purchase_data["Item ID"].unique())

# Average Purchase Price
average_price = purchase_data["Price"].mean()

# Total Number of Purchases
total_purchases = len(purchase_data["Purchase ID"].unique())

# Total Revenue
total_revenue = purchase_data["Price"].sum()

# Create Summary DataFrame
Purchasing_Analysis = pd.DataFrame([{"Number of Unique Items":unique_items,
                                     "Average Price":average_price,"Number of Purchases":total_purchases,
                                     "Total Revenue":total_revenue}],columns=["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"])

Purchasing_Analysis["Average Price"] = Purchasing_Analysis["Average Price"].map("${:.2f}".format)
Purchasing_Analysis["Total Revenue"] = Purchasing_Analysis["Total Revenue"].map("${:.2f}".format)
Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Percentage and Count of Male Players
male_players = (purchase_data.loc[purchase_data["Gender"]== "Male",:])
male_count = len(male_players["SN"].unique())
male_percentage = "{:.2f}%".format(male_count/player_count*100)

# Percentage and Count of Female Players
female_players = (purchase_data.loc[purchase_data["Gender"]== "Female",:])
female_count = len(female_players["SN"].unique())
female_percentage = "{:.2f}%".format(female_count/player_count*100)

# Percentage and Count of Other / Non-Disclosed
other_players = (purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed",:])
other_players_count = len(other_players["SN"].unique())
other_players_percentage = "{:.2f}%".format(other_players_count/player_count*100)


# Create Summary DataFrame
gender_demographics = pd.DataFrame([{"Gender":"Male",
                                     "Total Count":male_count,
                                     "Percentage":male_percentage},
                                    {"Gender":"Female", 
                                    "Total Count":female_count,
                                     "Percentage":female_percentage},
                                    {"Gender":"Other / Non-Disclosed",
                                     "Total Count":other_players_count,
                                     "Percentage":other_players_percentage }])

gender_demographics= gender_demographics.set_index("Gender")

gender_demographics.index.name=None

gender_demographics

                       Total Count Percentage
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchase Count of Male Players
male_players_data = (purchase_data.loc[purchase_data["Gender"]== "Male",:])
male_purchase= len(male_players_data["SN"])

# Average Purchase Price of Male Players
avg_male_purchase = male_players_data["Price"].mean()

# Total Purchase value of Male Players
total_male_purchase = male_players_data["Price"].sum()



# Purchase Count of Female Players
female_players_data = (purchase_data.loc[purchase_data["Gender"]== "Female",:])
female_purchase= len(female_players_data["SN"])

# Average Purchase Price of Female Players
avg_female_purchase = female_players_data["Price"].mean()

# Total Purchase value of Female Players
total_female_purchase = female_players_data["Price"].sum()


# Purchase Count of Other / Non-Disclosed Players
other_players_data = (purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed",:])
other_players_purchase= len(other_players_data["SN"])

# Average Purchase Price of Other / Non-Disclosed Players
avg_other_players_purchase = other_players_data["Price"].mean()

# Total Purchase value of Other / Non-Disclosed Players
total_other_players_purchase = other_players_data["Price"].sum()


#Average Purchase Total per Person by Gender

avg_male_purchase_total = total_male_purchase/ male_count
avg_female_purchase_total = total_female_purchase / female_count
avg_other_purchase_total = total_other_players_purchase / other_players_count


# Create Summary DataFrame
purchasing_analysis_gender = pd.DataFrame([{"Gender":"Male", "Purchase Count": male_purchase,
                                            " Average Purchase Price": "${:.2f}".format(avg_male_purchase),
                                            " Total Purchase Value":"${:.2f}".format(total_male_purchase),
                                           "Average Purchase Total per Person":"${:.2f}".format(avg_male_purchase_total)},
                                           {"Gender":"Female", "Purchase Count": female_purchase,
                                            " Average Purchase Price": "${:.2f}".format(avg_female_purchase),
                                            " Total Purchase Value":"${:.2f}".format(total_female_purchase),
                                           "Average Purchase Total per Person":"${:.2f}".format(avg_female_purchase_total)},
                                           {"Gender":"Other / Non-Disclosed", "Purchase Count": other_players_purchase,
                                            " Average Purchase Price":"${:.2f}".format(avg_other_players_purchase),
                                            " Total Purchase Value":"${:.2f}".format(total_other_players_purchase),
                                           "Average Purchase Total per Person":"${:.2f}".format(avg_other_purchase_total)}
                                           ])

purchasing_analysis_gender =purchasing_analysis_gender.set_index("Gender")
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Figure out the minimum and maximum ages of players
#print(purchase_data["Age"].max())
#print(purchase_data["Age"].min())

# Establish Bins for Ages & Create Corresponding Names For Bins
age_bins = [0,9,14,19,24,29,34,39,46]

# Create labels for these bins
age_class = ["<10", "10-14", "15-19", "20-24", "25-29" , "30-34 ", "35-39", "40+" ]

# Place Data Series Into New Column Inside DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels= age_class)
purchase_data

# Create a GroupBy object based upon Age Group
age_group = purchase_data.groupby("Age Group")

# Count Total Players by Age Category
total_count_age = age_group["SN"].nunique()

# Calculate Percentages by Age Category 
percentage_by_age = (total_count_age/ player_count*100)

# Create Summary DataFrame
age_demographics = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players":percentage_by_age })
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics.index.name=None
age_demographics

        Total Count Percentage of Players
<10              17                 2.95%
10-14            22                 3.82%
15-19           107                18.58%
20-24           258                44.79%
25-29            77                13.37%
30-34            52                 9.03%
35-39            31                 5.38%
40+              12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Establish Bins for Ages & Create Corresponding Names For Bins
age_bins = [0,9,14,19,24,29,34,39,46]
age_class = ["<10", "10-14", "15-19", "20-24", "25-29" , "30-34 ", "35-39", "40+" ]

# Place Data Series Into New Column Inside DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels= age_class)

# Calculate Purchase Count
purchase_count = age_group["SN"].count()

# Calculate Average Purchase Price
avg_purchase_price = age_group["Price"].mean()

# Calculate Total Purchase Value
total_age_purchase = age_group["Price"].sum()

# Calculate Avg Total Purchase per Person
avg_purchase_total = total_age_purchase/total_count_age

purchasing_analysis_age = pd.DataFrame({"Purchase Count":purchase_count,
                                        "Average Purchase Price":avg_purchase_price,"Total Purchase Value":total_age_purchase,
                                        "Average Total Purchase per Person":avg_purchase_total})
purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_age["Average Total Purchase per Person"] = purchasing_analysis_age["Average Total Purchase per Person"].map("${:,.2f}".format) 
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Identify the Top 5 Spenders in the Game by Total Purchase Value & GroupBy SN
top_spenders = purchase_data.groupby("SN")

# Calculate Purchase Count of each player
spender_purchase = (top_spenders["Purchase ID"].count())

# Calculate Average Purchase Price
average_spender_purchase_price = top_spenders["Price"].mean()

# Calculate Total Purchase Value
total_spender_purchase = top_spenders["Price"].sum()

# Create Summary DataFrame for Top Spenders

top_spenders_analysis = pd.DataFrame({"Purchase Count":spender_purchase,
                                     "Average Purchase Price":average_spender_purchase_price, 
                                     "Total Purchase Value":total_spender_purchase})
sort_top_spenders_analysis = top_spenders_analysis.sort_values(["Total Purchase Value"], ascending=False).head()
sort_top_spenders_analysis["Average Purchase Price"] = sort_top_spenders_analysis["Average Purchase Price"].map("${:.2f}".format)
sort_top_spenders_analysis["Total Purchase Value"] = sort_top_spenders_analysis["Total Purchase Value"].map("${:.2f}".format)

sort_top_spenders_analysis

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Identify the 5 Most Popular Items by Creating New DataFrame
most_popular_item_data = purchase_data[["Item ID","Item Name","Price"]]

#GroupBy  "Item ID" and "Item Name"
popular_items = most_popular_item_data.groupby(["Item ID","Item Name"])

# Calculate Purchase Count
item_purchase_count = popular_items["Price"].count()

# Calculate Total Purchase Value
total_popular_item_value = popular_items["Price"].sum()

# Calculate Item Price
item_price =  total_popular_item_value / item_purchase_count

# Create Summary DataFrame
Most_Popular_Items_analysis = pd.DataFrame({"Purchase Count": item_purchase_count, 
   "Item Price":item_price,
   "Total Purchase Value":total_popular_item_value})

Most_Popular_Items_analysis_clean= Most_Popular_Items_analysis.sort_values(["Purchase Count"], ascending=False).head()
Most_Popular_Items_analysis_clean["Item Price"] = Most_Popular_Items_analysis_clean["Item Price"].map("${:.2f}".format)
Most_Popular_Items_analysis_clean["Total Purchase Value"] = Most_Popular_Items_analysis_clean["Total Purchase Value"].map("${:.2f}".format)
Most_Popular_Items_analysis_clean

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
Most_Profitable_Items= Most_Popular_Items_analysis.sort_values(["Total Purchase Value"], ascending=False).head()
Most_Profitable_Items["Item Price"] = Most_Profitable_Items["Item Price"].map("${:.2f}".format)
Most_Profitable_Items["Total Purchase Value"] = Most_Profitable_Items["Total Purchase Value"].map("${:.2f}".format)
Most_Profitable_Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

# Observable Trends

From the purchasing analysis by Gender it can be observed that female players and non-disclosed players spent more on average at 6% and 11% higher than their male counterparts respectively even though males outnumber them by at least 5:1.

About 45% of players are between 20 and 24 years old with their average spend at $3.05. The age demographic that has the highest average purchases per person are the 35 to 39 year olds with $3.60 which is about 20% higher than 20 - 24 year olds. The 35 to 39 year olds have the highest purchasing power.


Final Critic and Oathbreaker, Last Hope of the Breaking Storm are the most popular and most profitable items.